<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Automate Http/Https Load Testing</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Automate Http/Https Load Testing
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/run">
                        <i class="pe-7s-play"></i>
                        <p>Run - Testing</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/result">
                        <i class="pe-7s-news-paper"></i>
                        <p>Job - Result</p>
                    </a>
                </li>
                <li>
                    <a href="/testset">
                        <i class="pe-7s-note2"></i>
                        <p>Test Set</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="pe-7s-news-paper"></i> Job - Result</a>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid" id="main">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Name</td>
                            <td>Url</td>
                            <td>Testset</td>
                            <td>Status</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody id="job-tbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <footer class="footer">
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="/assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->

<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js"></script>
<script src="/assets/js/socket.io-1.4.5.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/assets/js/light-bootstrap-dashboard.js"></script>

<script>
    var data = JSON.parse(`{{ .Job }}`);
    var testset = JSON.parse(`{{ .Testset }}`);
    var socket = io();


    function findTestSetById(id){
        for(var i = 0 ; i < testset.length ; i++){
            if(testset[i].ID == id)
                return testset[i].Name;
        }

        return undefined;
    }

    function result(link){
        window.location.href = "/result/" + link;
    }

    $(document).ready(function(){

        if(data.length == 0){
            $("#main").empty();
            $("#main").append(`
                <p class="text-center">There is not result yet until you have testing it one</p>
            `);

            return;
        }

        for(var i = 0 ; i < data.length ; i++){
            const d = data[i];

            $("#job-tbody").append(`
                <tr onclick="result('${d.ID}')">
                    <td>${i+1}</td>
                    <td>${d.Name}</td>
                    <td>${d.RequestUrl}</td>
                    <td>${findTestSetById(d.Testset)}</td>
                    <td id="tr_${d.ID}"></td>
                    <td>
                        <a href="/rerun/${d.ID}"><button class="btn btn-primary">Rerun</button></a>
                        <a href="/del/${d.ID}"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            `)

            socket.on("_" + d.ID, function(rx){
                var str = "";
                if(rx.rx == "100.00"){
                    str = `<span class="label label-success">finished</span>`;
                }else{
                    str = `<span class="label label-primary">${rx.rx} %</span>`;
                }

                if(d.TestError != 0){
                    str += `<span class="label label-danger"> ${d.TestError} Error</span>`;
                }

                if(d.ExitInterrupt && rx.rx == "100.0"){
                    str = `<span class="label label-danger">Exit Interrupt</span>`;
                }

                $(`#tr_${d.ID}`).html(str);
            });


            setTimeout(function(){
                socket.emit("get-progress", ""+d.ID);
            }, 300);

        }
    });
</script>

</html>
